<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>liaotian/bq/bq1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,0},{68,68}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/bq/bq1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,388},{68,68}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/bq/bq1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,317},{68,68}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/bq/bq1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,206},{68,68}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/bq/bq1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,68},{68,68}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/bq/bq1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,0},{68,68}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/bq/bq1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,136},{68,68}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/bq/bq1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,794},{68,68}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/bq/bq1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,862},{68,68}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/bq/bq2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,86},{74,81}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,94}</string>
			</dict>
			<key>liaotian/bq/bq2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,412},{73,81}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,94}</string>
			</dict>
			<key>liaotian/bq/bq2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,0},{74,81}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,94}</string>
			</dict>
			<key>liaotian/bq/bq2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,167},{74,81}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,94}</string>
			</dict>
			<key>liaotian/bq/bq2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,248},{74,81}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,94}</string>
			</dict>
			<key>liaotian/bq/bq3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,68},{69,69}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,94}</string>
			</dict>
			<key>liaotian/bq/bq3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,137},{69,69}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,94}</string>
			</dict>
			<key>liaotian/bq/bq3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,725},{69,69}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,94}</string>
			</dict>
			<key>liaotian/bq/bq3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,643},{69,69}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,94}</string>
			</dict>
			<key>liaotian/bq/bq3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,543},{69,69}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,94}</string>
			</dict>
			<key>liaotian/bq/bq3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,468},{69,69}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,94}</string>
			</dict>
			<key>liaotian/bq/bq4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,930},{68,68}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/bq/bq4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,794},{68,68}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/bq/bq5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,576},{74,71}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,100}</string>
			</dict>
			<key>liaotian/bq/bq5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,329},{68,84}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,100}</string>
			</dict>
			<key>liaotian/bq/bq5_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,81},{68,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,100}</string>
			</dict>
			<key>liaotian/bq/bq5_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,81},{68,84}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,100}</string>
			</dict>
			<key>liaotian/bq/bq5_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,0},{68,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,100}</string>
			</dict>
			<key>liaotian/bq/bq5_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,165},{68,84}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,100}</string>
			</dict>
			<key>liaotian/bq/bq5_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,164},{68,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,100}</string>
			</dict>
			<key>liaotian/bq/bq5_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,249},{68,84}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,100}</string>
			</dict>
			<key>liaotian/bq/bq5_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,493},{68,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,100}</string>
			</dict>
			<key>liaotian/bq/bq6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,329},{72,83}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,98}</string>
			</dict>
			<key>liaotian/bq/bq6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{71,86}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,98}</string>
			</dict>
			<key>liaotian/bq/bq7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,862},{69,67}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/bq/bq7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,712},{69,67}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/bq/bq7_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,929},{69,67}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/bq/bq7_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,712},{69,67}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/bq/bq7_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,781},{69,67}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/bq/bq7_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,850},{69,67}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/bq/bq7_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,612},{69,67}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/bq/bq7_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,537},{69,67}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/bq/bq7_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,919},{69,67}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/bq/bq8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,472},{70,71}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/bq/bq8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,397},{70,71}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/bq/bq8_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,247},{70,69}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/bq/bq8_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,317},{70,71}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/bq/bq9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,493},{75,68}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,94}</string>
			</dict>
			<key>liaotian/bq/bq9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,397},{75,68}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,94}</string>
			</dict>
			<key>liaotian/bq/bq9_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,650},{75,68}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,94}</string>
			</dict>
			<key>liaotian/bq/bq9_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,725},{75,68}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,94}</string>
			</dict>
			<key>liaotian/bq/bq9_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,800},{75,68}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,94}</string>
			</dict>
			<key>liaotian/bq/bq9_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,875},{75,68}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,94}</string>
			</dict>
			<key>liaotian/bq/bq9_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,950},{75,68}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,94}</string>
			</dict>
			<key>liaotian/bq/bq9_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,650},{75,68}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,94}</string>
			</dict>
			<key>liaotian/bq/bq9_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,568},{75,68}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,94}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>bq.png</string>
			<key>realTextureFileName</key>
			<string>bq.png</string>
			<key>size</key>
			<string>{364,1018}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>364</integer>
			<key>height</key>
			<integer>1018</integer>
		</dict>
	</dict>
</plist>