<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>liaotian/vipbq/vipbq1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,0},{93,87}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{92,91}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,0},{82,87}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,83},{82,86}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,0},{85,83}}</string>
				<key>offset</key>
				<string>{-5,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,0},{83,86}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,82},{83,85}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,82},{83,86}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,227},{68,73}}</string>
				<key>offset</key>
				<string>{10,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq2_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,357},{68,72}}</string>
				<key>offset</key>
				<string>{3,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq2_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,233},{68,70}}</string>
				<key>offset</key>
				<string>{11,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq2_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,359},{65,73}}</string>
				<key>offset</key>
				<string>{12,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,290},{68,70}}</string>
				<key>offset</key>
				<string>{3,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,358},{64,73}}</string>
				<key>offset</key>
				<string>{1,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,165},{68,74}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,297},{68,69}}</string>
				<key>offset</key>
				<string>{-8,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,360},{64,72}}</string>
				<key>offset</key>
				<string>{-10,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq2_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,357},{68,72}}</string>
				<key>offset</key>
				<string>{-8,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq2_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,292},{68,70}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq2_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,301},{65,72}}</string>
				<key>offset</key>
				<string>{1,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,158},{70,74}}</string>
				<key>offset</key>
				<string>{-10,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq3_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,159},{70,74}}</string>
				<key>offset</key>
				<string>{-10,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,161},{70,74}}</string>
				<key>offset</key>
				<string>{-10,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,154},{70,74}}</string>
				<key>offset</key>
				<string>{-10,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,221},{70,74}}</string>
				<key>offset</key>
				<string>{-10,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,298},{70,73}}</string>
				<key>offset</key>
				<string>{-10,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,228},{70,74}}</string>
				<key>offset</key>
				<string>{-10,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq3_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,229},{70,74}}</string>
				<key>offset</key>
				<string>{-10,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq3_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,231},{70,74}}</string>
				<key>offset</key>
				<string>{-10,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq3_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,154},{70,74}}</string>
				<key>offset</key>
				<string>{-10,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,165},{68,76}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/vipbq/vipbq4_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,86},{68,78}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/vipbq/vipbq4_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,299},{68,75}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/vipbq/vipbq4_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,224},{68,76}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/vipbq/vipbq4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,165},{68,74}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/vipbq/vipbq4_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,231},{68,73}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/vipbq/vipbq4_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,289},{68,73}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/vipbq/vipbq4_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,295},{68,73}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/vipbq/vipbq4_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,289},{68,73}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/vipbq/vipbq4_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,291},{68,76}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/vipbq/vipbq4_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,86},{68,77}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/vipbq/vipbq4_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,86},{68,79}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>liaotian/vipbq/vipbq5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,155},{72,81}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,83},{72,82}}</string>
				<key>offset</key>
				<string>{-2,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq5_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,145},{72,82}}</string>
				<key>offset</key>
				<string>{-2,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq5_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,217},{72,81}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq5_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,86},{72,81}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,0},{89,86}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,0},{89,86}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq6_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,0},{89,86}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq6_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,0},{89,86}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,224},{66,77}}</string>
				<key>offset</key>
				<string>{-12,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,165},{66,76}}</string>
				<key>offset</key>
				<string>{-14,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq7_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,154},{67,78}}</string>
				<key>offset</key>
				<string>{-9,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq7_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,91},{70,79}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,301},{68,75}}</string>
				<key>offset</key>
				<string>{-11,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,87},{72,79}}</string>
				<key>offset</key>
				<string>{-9,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq8_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,73},{92,72}}</string>
				<key>offset</key>
				<string>{1,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq8_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,0},{93,73}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq8_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,0},{91,82}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,368},{64,74}}</string>
				<key>offset</key>
				<string>{-10,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,374},{64,74}}</string>
				<key>offset</key>
				<string>{-10,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq9_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,376},{64,74}}</string>
				<key>offset</key>
				<string>{-10,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq9_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,233},{64,74}}</string>
				<key>offset</key>
				<string>{-10,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>liaotian/vipbq/vipbq9_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,233},{64,74}}</string>
				<key>offset</key>
				<string>{-10,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>vipbq.png</string>
			<key>realTextureFileName</key>
			<string>vipbq.png</string>
			<key>size</key>
			<string>{1011,450}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1011</integer>
			<key>height</key>
			<integer>450</integer>
		</dict>
	</dict>
</plist>